<%#=link_to 'Add Event', new_event_path%>
<%#=link_to 'Log Out', destroy_user_session_path, method: :delete%>
<%#=link_to 'All Events', events_path%>
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Event Reminder</h1>
        <h3>Free Bootstrap Themes &amp; Templates</h3>
        <br>
        <%= link_to 'Start Now', new_user_registration_path, class: "btn btn-dark btn-lg"%>
    </div>
</header>
